body{
	text-align: center;
	}

h1 {
	display: block;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	font-weight: 500;
	font-style: normal;
	font-size: 58px;
	margin-bottom: 20px;
	padding-top: 15px;
	letter-spacing: -2px;
	line-height: 1.0em;
	clear: both;
}
h2 {
	background-image:url(http://37signals.com/images/arrow-customer.png);
	background-repeat: no-repeat;
	background-position:left bottom;
	display: block;
	color: #232323;
	margin: 30px 0;
	font-size: 48px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.1em;
	letter-spacing: -1px;
}
h3{
	font-size: 21px;
	margin: 5px 0 0 10px;
	color: #369;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-weight: bold;
}
h4{
	margin: 10px 0 10px;
	font-size: 14px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	color: #cc0000;
	font-weight: bold;
	text-decoration: none;
}
h5 {
	font-size: 14px;
	font-weight: 500;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	margin: 10px 0;
}
#header a{
	color:#369;  
	text-decoration:none;
}
#header a.Weekday {
	float: left;
	padding-top: 3px;
	padding-left: 58px;
	color: #999;
}
ul.nav {
	text-align: right;
	list-style: none;
	padding-top: 27px;
	padding-bottom: 1px;
	padding-right: 65px;
	font-size: 12px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
ul.nav li {
	display:inline;
	padding-left: 10px;
	padding-right: 10px;
}
#container{
	margin: auto auto;
	width: 820px;
}
.logo {
	text-align: center;
	padding-top: 35px;
	padding-right: 16px;
}
#Middle{
	text-align: center;
	padding-left: 80px;
}
#Middle div {
	float:left;
	display: inline-block;
	list-style: none;
	width: 150px;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	margin: 30px 20px;
	padding: 30px 15px;
	background-image: linear-gradient(to bottom,rgb(255,255,255),rgb(243,238,238));
}
#Middle a{
	text-decoration: none;
}
#Middle h3{
	text-decoration: underline;
}
#Middle h5{
	padding-top: 10px;

}
a.basecampic{
	border-radius: 5px;
	text-align: left;
}
#container .customers p{
	text-align: left;
	font-weight: 400;
	font-size: 22px;
	line-height: 1.3em;
	color: #666;
	margin: 30px 0px;
}
#container .customers img{
	float:right;
}
#container .customers .companies img{
	text-align: center;
}
hr {
clear: both;
border: 0;
background: white url(http://37signals.com/images/img-hr.png) no-repeat scroll 50% 50%;
color: transparent;
height: 12px;
padding: 40px 0px;
}
.secondh2{
	background: none;
	margin-top: 0px;
}
.container-2 ol{
	padding-left: 0px;
	float: left;
	width: 40%;
	margin-right: 40px;
	text-align: left;
	list-style: decimal; 
	margin-left: 5%;
	vertical-align: top;
}
.container-2 ol li{
	font-size: 58px;
	font-weight: 500;
	line-height: normal;
	color: #ccc;
	vertical-align: top;
}
.container-2 ol p{
	display: inline-block;
	vertical-align: top;
}
.container-2 h4{
	display: inline-block;
	vertical-align: top;
}