body{
font: 13px/28px Arial,sans-serif;
font-weight: bold;
color: #A4A4A4;	
}
# header a{
	padding-right: 5px;
	padding-left: 5px;
	color:#A4A4A4;  
	text-decoration:none;
}
ul.nav {
	display:inline;
	text-align: right;
	list-style: none;
	}
ul.nav li {
	background-color: none;
	display:inline;
	}
